{% extends 'base.html' %}
{% load static %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <img alt=""
            src="https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG5laWdoYm9yaG9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            height="500%" width="1400px" background-image="fixed">

            <div class="txt p-4 text-center bg-ligth">
                <h2 span style="color:#0011ff"></h2>
            
            <!-- marquee -->
            <marquee width="60%" direction="down" height="100px" span style="color:#0011ff">
              <h2>24/7 DIGITAL ESTATE UNDER SURVEILLANCE</h2>
           </marquee>
            </div>
    </div>

    <!-- card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/credit-card-data-encryption-security-picture-id531606550?s=612x612" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color: #0011ff;">Postblog Quote</h3>
            <p class="card-text">IT Security is a daily news digest of breaking news in the IT security industry. They offer articles, videos, webinars, analysis, case studies and even have a section devoted to the latest cybersecurity scams where they spotlight recent hacks.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/woman-is-coloring-a-chair-at-home-picture-id1255615584?b=1&k=20&m=1255615584&s=170667a&w=0&h=S7m9RCY8ofxv8tCx8c8mKEfmxUd0osx55VM5xqa0b9w=" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color:#0011ff">Business Idea</h3>
              <p class="card-text">Success usually comes to those whose who are too busy to be looking for it</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/doctors-appointment-picture-id1254899249?b=1&k=20&m=1254899249&s=170667a&w=0&h=c3A0Arr9vqnZ_RiUuQmpKivssqVZ5im84fl_EkrKMD8=" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color: #0011ff;">Health Department</h3>
              <p class="card-text">There may be medical tools in your hands to treat the patient, but those hands must be that of a loving, warm and conscientious human being.</p>
               <p>Twenty four hour contacts:<br> +254733-331012</p>
            </div>
           
          </div>
        </div>
      </div>


      <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFUqfkLZOfwM5ILkjKOpkmrtAHATrhV0LNw&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color:#0011ff">Police Authorities</h3>
              <p class="card-text">Our defense is not in our armaments, nor in science, nor in going underground. Our defense is in law and order.</p>
              <p>Lane line numbers: 999</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/notification-bell-icon-and-blue-speech-bubble-picture-id1318996384?b=1&k=20&m=1318996384&s=170667a&w=0&h=gMk0kzVEDPS6Vkk8-3Qi7j0QmSBigUgn7EzmwD1vD4U=" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" span style="color:#0011ff">Jirani Notification Quote</h3>
              <p class="card-text">Well, best to remain vigilant. It’s when everything is calm that you need to be most alert.</p>
             
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1520110120835-c96534a4c984?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VydmlsbGVuY2UlMjBuZXR3b3JraW5nJTIwaW1hZ2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color: #0011ff;">Cyber Security Quotes</h3>
              <p class="card-text">Threat is a mirror of security gaps. Cyber-threat is mainly a reflection of our weaknesses. An accurate vision of digital and behavioral gaps is crucial for a consistent cyber-resilience.</p>
            </div>
           
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="scrolltop float-right">
        <a href="#" class="btn btn-primary">Scroll up</a>
      </div>
      <br>
      <br>
      <div class="card text-center">
          <div class="card-body p-4 bg-dark text-light">
              <p class="card-text">Copyright &copy 2021 Kolem Edwin.</p>
        </div>
       

        
      </div>

{% endblock %}