{% extends 'base.html' %}
{% load static %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <img alt=""
            src="https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG5laWdoYm9yaG9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            height="700%" width="1400px" background-image="fixed">

            <div class="txt p-4 text-center" style="font-style:bold">
                <h2>Welcome TO 24/7 DIGITAL ESTATE SURVEILLANCE</h2>
            </div>
    </div>

    <!-- card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/credit-card-data-encryption-security-picture-id531606550?s=612x612" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">IT Security is a daily news digest of breaking news in the IT security industry. They offer articles, videos, webinars, analysis, case studies and even have a section devoted to the latest cybersecurity scams where they spotlight recent hacks.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/woman-is-coloring-a-chair-at-home-picture-id1255615584?b=1&k=20&m=1255615584&s=170667a&w=0&h=S7m9RCY8ofxv8tCx8c8mKEfmxUd0osx55VM5xqa0b9w=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/doctors-appointment-picture-id1254899249?b=1&k=20&m=1254899249&s=170667a&w=0&h=c3A0Arr9vqnZ_RiUuQmpKivssqVZ5im84fl_EkrKMD8=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
           
          </div>
        </div>
      </div>


      <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/police-car-siren-emergency-light-isolated-on-white-background-picture-id1298091513?b=1&k=20&m=1298091513&s=170667a&w=0&h=NuBcYtdbiqZrPJTeejjNUa6XThjOPBJu1HUkuMK1Se0=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/notification-bell-icon-and-blue-speech-bubble-picture-id1318996384?b=1&k=20&m=1318996384&s=170667a&w=0&h=gMk0kzVEDPS6Vkk8-3Qi7j0QmSBigUgn7EzmwD1vD4U=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
           
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="scrolltop float-right">
        <a href="#" class="btn btn-primary">Scroll up</a>
      </div>
      <br>
      <br>
      <div class="card text-center">
          <div class="card-body p-4 bg-dark text-light">
              <p class="card-text">Copyright &copy 2021 Jirani-app.</p>
        </div>
       

        
      </div>

{% endblock %}